<h1 class="header pt-5 text-center">Create an account</h1>

<div class="container">
    <div class="card mx-auto p-3 mt-3" style="max-width: 500px">

        <form [formGroup]="registerForm" (submit)="tryRegister(registerForm.value)">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <a class="float-right" routerLink="/login">Or login</a>
            <div class="form-group pt-4">
                <button type="button" class="btn btn-danger btn-block" (click)="tryGitHubLogin()">Register with Google</button>
            </div>
        </form>
    </div>
</div>
<p class="text-danger pt-3 text-center">{{errorMessage}}</p>